[submodule "contrib/concurrencpp"]
	path = contrib/concurrencpp
	url = https://github.com/David-Haim/concurrencpp.git
	branch = master
[submodule "contrib/cpr"]
	path = contrib/cpr
	url = https://github.com/libcpr/cpr.git
	branch = 1.9.x
[submodule "contrib/abseil-cpp"]
	path = contrib/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
	branch = lts_2023_08_02
[submodule "contrib/mysql-connector-cpp"]
	path = contrib/mysql-connector-cpp
	url = https://github.com/mysql/mysql-connector-cpp.git
	branch = trunk
[submodule "contrib/crow"]
	path = contrib/crow
	url = https://github.com/alexeimenshikh/Crow.git
	branch = frs
