[frs]
;Размер пула потоков. Если не указан или равен нулю, то используется std::thread::hardware_concurrency().
;Количество CPU можно посмотреть, например, с помощью команд nproc, lscpu.
thread_pool_size=4

;Виртуальный путь для API методов
api_path="/api"

;Путь для логов
logs_path="/opt/frs/logs"

;Абсолютный путь для хранения скриншотов
screenshot_path="/opt/frs/www/screenshots"

;URL для скриншотов
http_server_screenthot_url="http://localhost:9051/screenshots"


[sql]
;Драйвер БД
driver=QMYSQL

;Опции соединения
options="MYSQL_OPT_RECONNECT=1"

;Адрес сервера
host=localhost

;Порт сервера
port=3306

;Название БД
db_name=db_frs

;Имя пользователя БД
user_name=user_frs

;Пароль БД
password=123123

;Размер пула соединений
pool_size=4

;Идентификатор рабочего сервера FRS
id_worker=1
